html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 140px;
}

html,
body {
  font-size: 16px;
}

.content-body {
  margin-bottom: 40px;
}

.menu-top {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.menu-side,
.product-layout {
  padding-top: 35px;
}

.menu-side-mobile {
  background-color: transparent !important;
  color: inherit !important;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.feather {
  width: 16px;
  height: 16px;
}

.dragable_item {
  cursor: move;
}

.page-header {
  padding-bottom: 5px;
}

.cart-contents-title {
  font-size: 18px;
  font-weight: 700;
}

.cart-row {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.cart-item-row {
  margin-top: 5px;
}

.cart-link {
  padding-left: 7px;
}

.cart-product {
  padding: 0 !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #cc3a2c;
}

.cart-update-button {
  cursor: pointer;
}

.thumbnail-image {
  cursor: pointer;
}

#product-images {
  margin-bottom: 30px;
}

.product-layout {
  padding-top: 30px;
}

.product-results h1 {
  font-size: 22px;
}

.product-title-image {
  margin: auto;
  max-height: 400px;
  width: auto;
}

.thumbnail-image-container .img-fluid {
  display: block;
  width: auto;
  max-height: 100%;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar-brand {
  color: #cc3a2c;
  letter-spacing: 4px;
  padding-left: 20px;
  padding-top: 0;
  height: 80px;
  font-size: 55px;
}

.navbar-brand>img {
  width: auto;
  height: 100%;
}

.thumbnail {
  min-height: 415px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.title-image-container .img-fluid {
  display: block;
  width: auto;
  max-height: 100%;
  margin: auto;
}

.title-image-container {
  height: 400px;
}

.thumbnail-image-container {
  height: 350px;
}

.img-thumbnail {
  border: 0;
}

.product-title {
  font-size: 20px;
  margin-top: 0px;
}

.product-title-home {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-price {
  padding-bottom: 10px;
  font-size: 20px;
  color: #0f8336;
}

.shipping-price {
  padding-bottom: 10px;
  font-size: 15px;
  color: #120b79;
}

.productOptions {
  padding-bottom: 15px;
}

.product-option {
  font-size: 18px;
}

.btnAddToCart,
.body_text {
  padding-top: 15px;
  padding-bottom: 15px;
}

.product-option-text {
  font-size: 16px;
  color: #0f8336;
  padding-bottom: 10px;
  padding-top: 10px;
}

.seporator {
  padding-top: 5px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 6px;
}

.list-group-input-pad select {
  margin-top: -7px;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-right-15 {
  padding-right: 15px;
}

.no-pad-left {
  padding-left: 0px;
}

.no-pad-right {
  padding-right: 0px;
}

.top-marg-10 {
  margin-top: 10px;
}

.top-marg-15 {
  margin-top: 15px;
}

.top-marg-20 {
  margin-top: 20px;
}

.top-pad-5 {
  padding-top: 10px;
}

.top-pad-8 {
  padding-top: 8px;
}

.top-pad-10 {
  padding-top: 10px;
}

.top-pad-20 {
  padding-top: 20px;
}

.top-pad-50 {
  padding-top: 50px;
}

.top-pad-100 {
  padding-top: 100px;
}

.bottom-pad-10 {
  padding-bottom: 10px;
}

.bottom-pad-15 {
  padding-bottom: 15px;
}

.bottom-pad-20 {
  padding-bottom: 20px;
}

.bottom-pad-30 {
  padding-bottom: 30px;
}

.bottom-marg-10 {
  margin-bottom: 10px;
}

.bottom-marg-15 {
  margin-bottom: 15px;
}

.bottom-marg-20 {
  margin-bottom: 20px;
}

.left-pad-10 {
  padding-left: 10px;
}

.left-pad-30 {
  padding-left: 30px;
}

.right-pad-10 {
  padding-right: 10px;
}

.shipping-form input {
  margin-bottom: 15px;
}

#header {
  height: 50px;
}

.search-bar {
  margin-top: 10px;
}

.breadcrumb {
  background-color: #f8f9fa;
  margin-top: 10px;
}

.breadcrumbProPerRow-3 {
  margin-left: 10px;
  margin-right: 10px;
}

.searchProPerRow-3,
.searchProPerRow-4 {
  padding-left: 0;
  padding-right: 0;
}

.dropup-button {
  height: 34px;
  padding: 0px;
  color: white !important;
}

.dropdown-menu>li>a {
  padding-top: 5px !important;
}

.pad-bottom {
  padding-bottom: 25px;
}

.keywords {
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 19px;
}

.file-form {
  padding-left: 15px;
  padding-right: 15px;
}

.editor_btn_action {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.dropup-list {
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#notify_message {
  position: fixed;
  display: none;
  z-index: 9999;
  padding-top: 10px;
  height: 50px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.input-group .form-control {
  z-index: 1;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.offcanvas-element {
  z-index: 100;
  background-color: #ffffff;
}

.product-item {
  padding-left: 0px;
  padding-right: 0px;
}

input:focus {
  outline: none;
  background: #fbfbe9;
}

input+label {
  display: block;
  cursor: text;
  transition: 0.15s ease-out all;
  position: absolute;
  top: 0.9em;
  left: 1.3em;
}

.floatLabel {
  top: 0.1em;
  left: 32px;
  font-size: 0.7em;
  color: #999999;
  font-weight: normal;
  transition: 0.15s ease-out all;
}

input.form-control.customerDetails {
  padding-bottom: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}

.admin {
  margin-bottom: 0;
}

.previous a {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.next a {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.image-next {
  position: absolute;
  top: 180px;
  right: 0px;
}

.image-prev {
  position: absolute;
  top: 180px;
  left: 0px;
}

.image-button {
  cursor: pointer;
  opacity: 0.7;
}

.image-button-show {
  cursor: pointer;
  opacity: 0.7 !important;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #000000;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #000000;
}

.btn-warning,
.btn-primary {
  color: #ffffff !important;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  opacity: 0.65;
}

.btn-danger {
  color: #ffffff;
  background-color: #cc3a2c;
  border-color: #cc3a2c;
}

.btn-danger:hover {
  color: #ffffff !important;
  background-color: #cc3a2c !important;
  border-color: #cc3a2c !important;
  opacity: 0.65;
}

a:hover,
a:focus {
  color: #000000;
}

a {
  color: #000000;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #000000;
  border-color: #000000;
}

.navbar-default .navbar-brand {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}

.navbar-brand-image {
  padding: 0px;
  height: 70px;
}

.pagination>li>a {
  background-color: #000000 !important;
}

.page-item.disabled .page-link {
  color: #b7b7b7;
}

.page-link {
  color: white;
  border: 0;
}

.page-link:hover {
  color: #aaaaaa !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}

.thumbnail {
  border: none;
}

.help-block {
  color: #95a5a6;
}

@media only screen and (min-width: 768px) {
  .pushy {
    width: 700px;
  }

  .pushy-right {
    -webkit-transform: translate3d(700px, 0, 0);
    -ms-transform: translate3d(700px, 0, 0);
    transform: translate3d(700px, 0, 0);
  }

  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-700px, 0, 0);
    -ms-transform: translate3d(-700px, 0, 0);
    transform: translate3d(-700px, 0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .pushy {
    width: calc(100%);
  }

  .pushy-right {
    -webkit-transform: translate3d(calc(100%), 0, 0);
    -ms-transform: translate3d(calc(100%), 0, 0);
    transform: translate3d(calc(100%), 0, 0);
  }

  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-calc(100%), 0, 0);
    -ms-transform: translate3d(-calc(100%), 0, 0);
    transform: translate3d(-calc(100%), 0, 0);
  }

  .product-item {
    padding-left: 0px;
    padding-right: 0px;
  }

  .showFooter {
    margin-bottom: 220px;
  }

  .title-image-container {
    height: auto;
  }

  .product-title {
    font-size: 18px;
    padding-top: 18px;
    min-height: auto;
  }

  .search-bar-input {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-side {
    padding-top: 15px;
  }

  .product-layout {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #btn_search {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .cart-row {
    padding-top: 10px;
    border-bottom: 1px solid #ecf0f1;
    display: block;
  }

  .cart-body {
    padding-top: 0px;
  }

  .cart-contents-shipping {
    padding-top: 10px;
  }

  #cart {
    padding-bottom: 15px;
  }

  .footer {
    height: 100px;
  }

  body {
    margin-bottom: 100px;
  }

  .navbar-brand {
    padding-left: 0px;
    height: auto;
  }

  .thumbnail {
    min-height: 0;
  }
}