<script src="/javascripts/web3.min.js"></script>
<script src="/javascripts/wallet.js"></script>

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
	<div id="cart" class="col-md-4">
		<div class="col-sm-12 text-center">
			<h5>{{ @root.__ "Your Wallet Address :" }}<span class="badge badge-danger" id="userAddress"></span></h5>
		</div>
	</div>

	<div class="row">

		<div class="card col-sm-4">
			<div class="card-header">
				{{ @root.__ "Your Token Details :" }}
			</div>
			<div class="card-body col-sm-12 text-center">
				<h5 class="card-title">{{ @root.__ "Token Balance :" }}</h5>
				<a><span class="font-weight-bold" id="userTokenBalance"></span></a>
				{{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
			</div>
		</div>

		<div class="card col-sm-4">
			<div class="card-header">
				{{ @root.__ "Token Buy Price :" }}
			</div>
			<div class="card-body col-sm-12 text-center">
				<h5 class="card-title">{{ @root.__ "1 Ether" }}</h5>
				<h5 class="card-title">=</h5>
				<a><span class="font-weight-bold" id="tokensForOneEther"></span>{{ @root.__ " MMT " }}</a>
			</div>
		</div>

		<div class="card col-sm-4">
			<div class="card-header">
				{{ @root.__ "Estimate Ether for Tokens :" }}
			</div>
			<div class="card-body col-sm-12 text-center">
				<h5 class="card-title">{{ @root.__ "Input Tokens You wish To Estimate" }}</h5>
				<input type="number" min="0" class="form-control" id="tokensToEstimateEther">
				<a>{{ @root.__ " You need approximately " }}<span class="font-weight-bold"
						id="etherForInputTokens"></span>{{ @root.__ " Ether " }}</a>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="card col-sm-4">
			<div class="card-header">
				{{ @root.__ "Buy Tokens :" }}
			</div>
			<div class="card-body col-sm-12 text-center">
				<h5 class="card-title">{{ @root.__ "Input Ethers to Buy Token :" }}</h5>
				<input type="number" min="0" class="form-control" id="ethersToBuyToken">

				<a>{{ @root.__ " You get approximately " }}<span class="font-weight-bold"
						id="approximateTokensForInputEther"></span>{{ @root.__ " MMT Tokens " }}</a>
				<a href="#" class="btn btn-success">{{ @root.__ " Buy Tokens " }}</a>
			</div>
		</div>

		<div class="card col-sm-4">
			<div class="card-header">
				{{ @root.__ "Your dividend :" }}
			</div>
			<div class="card-body col-sm-12 text-center">
				<h5 class="card-title">{{ @root.__ "Your Total Dividend in Pool" }}</h5>
				<a><span class="font-weight-bold" id="userProfitDividentInPool"></span>{{ @root.__ " Eth " }}</a>
				<h5 class="card-title">{{ @root.__ "Your Redeemed Divident from Pool" }}</h5>
				<a><span class="font-weight-bold" id="userRedeemedDividentFromPool"></span>{{ @root.__ " Eth " }}</a>
				<h5 class="card-title">{{ @root.__ "Your Balance Divident in Pool" }}</h5>
				<a><span class="font-weight-bold" id="userBalanceDividentInPool"></span>{{ @root.__ " Eth " }}</a>
			</div>
		</div>

		{{!-- <div class="card col-sm-4">
			<div class="card-header">
				{{ @root.__ " Your Dividend : " }}
			</div>
			<div class="card-body col-sm-12 text-center">
				<h5 class="card-title">{{ @root.__ "Your Balance Token in Pool" }}</h5>
				<a><span class="font-weight-bold" id="userBalanceTokensInPool2"></span>{{ @root.__ " MMT " }}</a>
				<h5 class="card-title">{{ @root.__ "Total Token in Pool" }}</h5>
				<a><span class="font-weight-bold" id="totalTokenInPool"></span>{{ @root.__ " MMT " }}</a>
				<h5 class="card-title">{{ @root.__ "Your Dividend" }}</h5>
				<a><span class="font-weight-bold" id="userPoolDividend"></span>{{ @root.__ " MMT " }}</a>
			</div>
		</div> --}}

	</div>


</main>