<div class="col-md-10 offset-md-1 col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn-sm btn-light"
                    onclick="window.location.href='/'">{{@root.__ "Home" }}</button></li>
            <li class="breadcrumb-item"><button class="btn-sm btn-light"
                    onclick="window.location.href='/checkout/information'">{{@root.__ "Information" }}</button></li>
            </li>
            {{#if @root.session.customerPresent}}
            <li class="breadcrumb-item"><button class="btn-sm btn-light"
                    onclick="window.location.href='/checkout/shipping'">{{@root.__ "Shipping" }}</button></li>
            <li class="breadcrumb-item"><button class="btn-sm btn-light"
                    onclick="window.location.href='/checkout/payment'">{{@root.__ "Payment" }}</button></li>
            </li>
            {{else}}
            <li class="breadcrumb-item text-muted" aria-current="page">{{@root.__ "Shipping" }}</li>
            <li class="breadcrumb-item text-muted" aria-current="page">{{@root.__ "Payment" }}</li>
            {{/if}}
        </ol>
    </nav>
    <div class="row">
        <div class="col-12 col-md-5 bottom-pad-15">
            <div class="card top-marg-15 bottom-marg-15">
                <div class="card-body">
                    <h5 class="card-title">{{ @root.__ "Shipping options" }}</h5>
                    {{#unless @root.session.shippingOptions}}
                    <ul class="list-group">
                        {{#ifCond @root.session.totalCartShipping '>' 0}}
                        <li class="list-group-item">{{@root.session.shippingMessage}} <span
                                class="float-right"><strong>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</strong></span>
                        </li>
                        {{else}}
                        <li class="list-group-item">{{@root.session.shippingMessage}}</li>
                        {{/ifCond}}
                    </ul>
                    {{/unless}}
                </div>
            </div>
            <a href="/checkout/information"
                class="btn-sm btn-secondary float-left">{{ @root.__ "Return to information" }}</a>
            <a href="/checkout/payment" class="btn-sm btn-success float-right">{{ @root.__ "Proceed to payment" }}</a>
        </div>
        <div id="cart" class="col-md-7 d-none d-sm-block">
            {{> (getTheme 'cart')}}
            <div class="row">
                <div class="col-sm-12 {{showCartButtons @root.session.cart}} cart-buttons">
                    <button class="btn-sm btn-danger float-right" id="empty-cart"
                        type="button">{{ @root.__ "Empty cart" }}</button>
                </div>
            </div>
        </div>
    </div>
</div>