<div class="header-bottom  header-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                <div class="logo">
                    <a href="/"><img src="/images/magicmall.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block {{#unless searchTerm}}active{{/unless}}">
                    <nav>
                        <ul id="navigation">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                    <li class="d-none d-xl-block">
                        <div class="form-box f-right ">
                            <input type="text" class="form-control" name="frm_search" id="frm_search"
                                placeholder="{{ @root.__ "Search shop" }}" aria-label="Search">
                            <div class="search-icon">
                                <i class="fas fa-search special-tag" id="btn_search" type="submit"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>





<nav id="navbarMenu" class="navbar-expand-lg navbar navbar-light bg-light navbarMenuWrapper col-sm-12">
    <div class="col-sm-8 offset-md-2 collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item {{#unless searchTerm}}active{{/unless}}"><a class="nav-link" href="/">Home</a></li> --}}
            {{#each menu.items}}
            <li class="nav-item" {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                {{#menuMatch this.title @root.title}}{{/menuMatch}}>
                <a class="nav-link" href="{{this.link}}">{{this.title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</nav>