<!-- Preloader Start -->
<div id="trial">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/images/magicmall.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
{{!-- <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div> --}}

{{!-- <script>
    $('#preloader-active').delay(450).fadeOut('slow');
    $('body').delay(450).css({
        'overflow': 'visible'
    }); --}}
</script>

<div class="col-sm-12 text-center">
    <div class="card-header">
        {{ @root.__ "Your Token Details :" }}
    </div>
    <div class="card-body col-sm-12 text-center">
        <h5 class="card-title">{{ @root.__ "Token Balance :" }}</h5>
        <a><span class="font-weight-bold" id="userTokenBalance"></span></a>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
    <form id="payment-form">
        <button type="submit" id="metamaskButton" value="Process payment"
            class="btn btn-outline-success waves-effect waves-light blue darken-3" type="submit"
            data-key="{{@root.paymentConfig.publicKey}}" data-amount="{{@root.session.totalCartAmount}}"
            data-name="{{@root.config.cartTitle}}" data-description="{{@root.config.cartTitle}} Payment"
            data-image="{{@root.paymentConfig.stripeLogoURL}}" data-email="{{@root.session.customerEmail}}"
            {{#if @root.session.cartSubscription}} data-subscription="{{@root.session.cartSubscription}}" {{/if}}
            data-locale="auto" data-zip-code="false" data-currency="{{@root.paymentConfig.stripeCurrency}}">
            {{@root.__ "Pay Now" }}
        </button>


    </form>

</div>

<script src="/javascripts/web3.min.js"></script>
<script src="/javascripts/wallet.js"></script>