<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/admin"><img class="sidebar-brand" src="/images/magicmall.png"></a>
                <a href="#" data-toggle="modal" data-target="#globalSearchModal"
                    class="sidebar-search text-muted">{{{feather 'search'}}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    {{{feather 'bar-chart'}}} &nbsp;
                    {{ @root.__ "Dashboard" }}
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Manage</span>
            </h6>
            {{#ifCond session.isAdmin '===' true}}
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/products">
                    {{{feather 'tag'}}} &nbsp;
                    Products
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/product/new">
                    {{{feather 'plus'}}}
                </a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/products">
                    {{{feather 'tag'}}} &nbsp;
                    Products
                </a>
            </li>
            {{/ifCond}}
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/orders">
                    {{{feather 'package'}}} &nbsp;
                    Orders
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/order/create">
                    {{{feather 'plus'}}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/customers">
                    {{{feather 'users'}}} &nbsp;
                    Customers
                </a>
            </li>
            <li class="nav-item sidebar-addon">
                <a class="nav-link sidebar-link" href="/admin/users">
                    {{{feather 'user'}}} &nbsp;
                    Users
                </a>
                <a class="sidebar-link-addon text-muted" href="/admin/user/new">
                    {{{feather 'plus'}}}
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Settings</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings">
                    {{{feather 'sliders'}}} &nbsp;
                    {{ @root.__ "General settings" }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/menu">
                    {{{feather 'menu'}}} &nbsp;
                    {{ @root.__ "Menu" }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/pages">
                    {{{feather 'file-text'}}} &nbsp;
                    {{ @root.__ "Static pages" }}
                </a>
            </li>
            {{#ifCond session.isAdmin '===' true}}
            <li class="nav-item">
                <a class="nav-link" href="/admin/settings/discounts">
                    {{{feather 'code'}}} &nbsp;
                    {{ @root.__ "Discount codes" }}
                </a>
            </li>
            {{/ifCond}}
        </ul>
        <ul class="nav flex-column mt-5">
            <li class="nav-item">
                <a class="nav-link" href="/admin/logout">
                    {{{feather 'log-out'}}} &nbsp;
                    {{ @root.__ "Logout" }}
                </a>
            </li>
        </ul>
    </div>
</nav>