<!DOCTYPE html>
<html lang="en">

<head>
    {{~#if config.injectJs}}{{{config.injectJs}}}{{/if}}
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#if admin}}
    <link rel="icon" type="image/png" href="/images/magicmall.png" />
    {{else}}
    <link rel="icon" type="image/png" href="/images/magicmall.png" />
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{#if productDescription}}
    <meta name="description" content="{{snip productDescription}}">
    {{else}}
    {{#if metaDescription}}
    <meta name="description" content="{{snip metaDescription}}">
    {{else}}
    <meta name="description" content="{{snip config.cartDescription}}">
    {{/if}}
    {{/if}}
    <meta name="csrfToken" content="{{csrfToken}}">
    <meta name="keywords" content="{{config.cartTitle}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/pushy{{config.env}}.css">
    {{#if admin}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css"
        integrity="sha256-bH0WSMuCFoG/dxeox/5aOWmaZl729yDg4ylckwSRTfU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css"
        integrity="sha256-MdzaXfGXzZdeHw/XEV2LNNycipsLk4uZ0FYzO3hbuvI=" crossorigin="anonymous" />
    {{/if}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css"
        integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/codemirror-style.min.css">
    <link rel="stylesheet" href="/stylesheets/style{{config.env}}.css">
    {{#if admin}}
    <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
        integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    {{#if admin}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"
        integrity="sha256-YZhUu69bCn9uTqQyKwwQ3GyRypS7eaxp/wmVS282sDI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"
        integrity="sha256-K1exjHe1X4MP24jRizgBaSbUDUrNhFDRSwGoEYGmtJE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"
        integrity="sha256-D5oJ11cOmRhXSYWELwG2U/XYH3YveZJr9taRYLZ2DSM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"
        integrity="sha256-ERFGS58tayDq5kkyNwd/89iZZ+HglMH7eYXxG1hxTvA=" crossorigin="anonymous"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.25.0/feather.min.js"
        integrity="sha256-NvgyqkM9Vu1DLHkzxTxXQxZNdDymUlwhXcSJEqUfPiU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"
        integrity="sha256-LlHVI5rUauudM5ZcZaD6hHPHKrA7CSefHHnKgq+/AZc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"
        integrity="sha256-4lietOiwRDBKx1goZZbRiwB06L+/bPYEGDIKZt82bgg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="/javascripts/jquery.bootpag.min.js"></script>
    <script src="/javascripts/cssbeautify.min.js"></script>
    <script src="/javascripts/common{{config.env}}.js"></script>
    <script src="/javascripts/expressCart{{config.env}}.js"></script>
    {{#if admin}}
    <script src="/javascripts/admin{{config.env}}.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"
        integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
    <!-- SEO data -->
    {{#if pageUrl}}
    <link rel="canonical" href="{{pageUrl}}" />
    {{else}}
    <link rel="canonical" href="{{config.baseUrl}}" />
    {{/if}}
    <meta name="referrer" content="origin" />
    {{#if @root.config.facebookAppId}}
    <meta property="fb:app_id" content="{{@root.config.facebookAppId}}" />
    {{/if}}
    <meta property="og:site_name" content="{{config.cartTitle}}" />
    {{#if result.productTitle}}
    <meta property="og:type" content="product" />
    {{else}}
    <meta property="og:type" content="website" />
    {{/if}}
    <meta property="og:title" content="{{title}}" />
    {{#if pageUrl}}
    <meta property="og:url" content="{{pageUrl}}" />
    {{else}}
    <meta property="og:url" content="{{config.baseUrl}}" />
    {{/if}}
    {{#if result.productImage}}
    <meta property="og:image" content="{{config.baseUrl}}{{result.productImage}}" />
    {{/if}}
    {{#if productDescription}}
    <meta property="og:description" content="{{snip productDescription}}">
    {{else}}
    {{#if metaDescription}}
    <meta property="og:description" content="{{snip metaDescription}}">
    {{else}}
    <meta property="og:description" content="{{snip config.cartDescription}}">
    {{/if}}
    {{/if}}
    {{#if @root.config.twitterHandle}}
    <meta property="twitter:site" content="{{@root.config.twitterHandle}}">
    {{/if}}
    {{#if result.productTitle}}
    <meta property="twitter:card" content="product" />
    {{else}}
    <meta property="twitter:card" content="summary" />
    {{/if}}
    <meta property="twitter:title" content="{{title}}" />
    {{#if pageUrl}}
    <meta property="twitter:url" content="{{pageUrl}}" />
    {{else}}
    <meta property="twitter:url" content="{{config.baseUrl}}" />
    {{/if}}
    {{#unless result.productTitle}}
    <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                {{#if result.productTitle}}
                "@type": "Product",
                "name": "{{result.productTitle}}",
                "offers": {
                    "price": "{{result.productPrice}}",
                    "priceCurrency": "{{config.currencyISO}}",
                    "description": "{{snip productDescription}}",
                    "sku": "{{result._id}}",
                    "url": "{{pageUrl}}"
                },
                {{else}}
                "publisher": "{{config.cartTitle}}",
                "@type": "WebSite",
                {{/if}}
                {{#if result.productImage}}
                "image": "{{config.baseUrl}}{{result.productImage}}",
                {{/if}}
                {{#if productDescription}}
                "description": "{{snip productDescription}}",
                {{/if}}
                {{#if result.productTitle}}
                "sku": "{{result._id}}",
                {{/if}}
                {{#if pageUrl}}
                "url": "{{pageUrl}}"
                {{else}}
                "url": "{{config.baseUrl}}"
                {{/if}}
            }
        </script>
    {{/unless}}
    <!-- SEO data -->
    {{~#if config.googleAnalytics}}{{{config.googleAnalytics}}}{{/if}}
    {{~#if config.customCss}}<style>
        {
                {
                    {
                    config.customCss
                }
            }
        }
    </style>{{/if}}
    {{#if admin}}
    <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
    {{else}}
    {{#if config.theme}}
    <link rel="stylesheet" href="/{{config.theme}}/style{{config.env}}.css">
    <script src="/{{config.theme}}/index{{config.env}}.js"></script>
    {{/if}}
    {{/if}}
    {{#unless admin}}
    {{!-- <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/slicknav.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/slick.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/nice-select.css">
    <link rel="stylesheet" href="/stylesheets/modifiedcss/assets/css/style.css">
    {{/unless}}
</head>
{{#if admin}}

<body class="admin">
    {{else}}

    <body>
        {{/if}}
        {{#unless admin}}
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="/images/magicmall.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader Start -->
        <header>
            <!-- Header Start -->
            <div class="header-area">
                <div class="main-header ">
                    <div class="header-top top-bg d-none d-lg-block">
                        <div class="container-fluid">
                            <div class="col-xl-12">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="header-info-left d-flex">
                                        <div class="flag">
                                            <img src="/stylesheets/modifiedcss/assets/img/icon/taiwan-flag.png" alt="">
                                        </div>
                                        {{#ifCond @root.config.enableLanguages "!=" false}}
                                        <div class="select-this">
                                            <form action="#">
                                                <div class="select-itms">
                                                    <select name="select" id="select1"
                                                        onchange="location= '/lang/'+this.value">
                                                        {{#availableLanguages}}
                                                        <option class="dropdown-item" value="{{this}}"
                                                            href="/lang/{{this}}">{{@root.__ this}}</option>
                                                        {{/availableLanguages}}
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        {{/ifCond}}
                                        <ul class="contact-now">
                                            <li>+886 970699044</li>
                                        </ul>
                                    </div>
                                    <div class="header-info-right">
                                        <ul>
                                            {{#if @root.session.customerPresent}}
                                            <div class="select-this">
                                                <form action="#">
                                                    <div class="select-itms">
                                                        <select name="select" id="select2"
                                                            onchange="location= '/customer/'+this.value">

                                                            <option class="dropdown-item" value="account"
                                                                href="/lang/{{this}}">Account</option>
                                                            <option class="dropdown-item" value="logout"
                                                                href="/lang/{{this}}">Logout</option>

                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            {{else}}
                                            <li><a href="/customer/account">{{{feather 'user'}}}</a></li>
                                            {{/if}}
                                            {{#if @root.session.cart}}
                                            <li class="nav-item"><a href="/checkout/cart"
                                                    class="btn-sm menu-btn">{{{feather 'shopping-cart'}}}
                                                    {{ @root.__ "Cart" }} <span class="badge badge-danger"
                                                        id="cart-count">{{@root.session.totalCartItems}}</span></a></li>
                                            {{else}}
                                            <li class="nav-item"><a href="/checkout/cart"
                                                    class=".btn-sm menu-btn">{{{feather 'shopping-cart'}}}</i>
                                                    {{ @root.__ "Cart" }} <span class="badge badge-danger"
                                                        id="cart-count">0</span></a></li>
                                            {{/if}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>

        {{#isNull @root.animation}}

        {{#unless admin}}

        <!-- slider Area Start -->
        <div class="slider-area">
            <!-- Mobile Menu -->
            <div class="single-slider slider-active">
                <div class="slider-height" data-background="/stylesheets/modifiedcss/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="/stylesheets/modifiedcss/assets/img/hero/hero_man.png" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s">{{ @root.__ "MMT Mall" }}</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">
                                        {{ @root.__ "Worlds First" }}<br>{{ @root.__ "Token Mall" }}</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s">{{ @root.__ "Best Collection!" }}
                                    </p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                        <a href="/" class="btn hero-btn">{{ @root.__ "Shop Now" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height"
                    data-background="/stylesheets/modifiedcss/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row d-flex align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="/stylesheets/modifiedcss/assets/img/hero/hero_man.png" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s">60% Discount</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">Winter <br> Collection</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s">Best Cloth Collection By 2020!</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                        <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        {{/unless}}

        {{else}}
        {{/isNull}}

        {{/unless}}
        <div class="site-overlay"></div>
        {{#unless admin}}
        {{#ifCond page '!=' 'checkout'}}
        {{#ifCond page '!=' 'pay'}}
        <div id="cart" class="col-md-12 pad-left-12 top-pad-10 pushy pushy-right">
            <div class="row {{checkout}}">
                <div class="col-sm-12 text-right">
                    <button class="pushy-link btn-sm btn-primary" type="button">{{{feather 'x'}}}</button>
                </div>
            </div>
            <div class="row">
                <div id="cart" class="col-md-12">
                    {{> (getTheme 'cart')}}
                    <div class="row">
                        <div class="col-sm-12 {{showCartButtons @root.session.cart}} cart-buttons">
                            <button class="btn-sm btn-danger float-left" id="empty-cart"
                                type="button">{{ @root.__ "Empty cart" }}</button>
                            <a href="/checkout/information" class="btn-sm btn-primary float-right">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/ifCond}}
        {{/ifCond}}
        {{/unless}}
        <div class="container-fluid content-body h-100" id="container">
            <div class="row">
                {{{body}}}
            </div>
        </div>
        <input type="hidden" id="input_notify_message" value="{{message}}">
        <input type="hidden" id="input_notify_messageType" value="{{messageType}}">
        <input type="hidden" id="cartCheckout" value="{{checkout}}">
        <input type="hidden" id="cartTheme" value="{{@root.config.theme}}">
        <input type="hidden" id="currencySymbol" value="{{@root.config.currencySymbol}}">
        {{#if @root.config.maxQuantity}} <input type="hidden" id="maxQuantity"
            value="{{@root.config.maxQuantity}}">{{/if}}
        <div id="notify_message"></div>
        {{#if showFooter}}
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="/"><img src="/images/magicmall.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        {{ @root.__ "Welcome to World's First Ecommerce Platform where You can buy Items with an Investment Coin (MMT)" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-20">
                            <div class="footer-tittle">
                                <h4>{{ @root.__ "About Mall"}}</h4>
                                <ul>
                                    <li><a href="http://magicno1mall.com/"
                                            target="_blank">{{ @root.__ "You need MMT coins to purchase items from this online mall. Haven't you tried playing MMT yet ? Once you Invest, you get MMT. Either you can make profit with the received MMT or you can use it to buy products here. Visit the Investment Platform here" }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>{{ @root.__ "Quick Access Link"}}</h4>
                                <ul>
                                    <li><a href="http://magicno1mall.com/exchange.html"
                                            target="_blank">{{ @root.__ "Exchange"}}</a></li>
                                    <li><a href="http://magicno1mall.com/"
                                            target="_blank">{{ @root.__ "MMT Website"}}</a></li>
                                    <li><a href="https://etherscan.io/address/0xa3d57a177755c1216ce91d1a6bbe1662475175c3"
                                            target="_blank">{{ @root.__ "Contract"}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="footer-copy-right">
                            <p>{{ @root.__ "Copyright &copy;"}}
                                <script>document.write(new Date().getFullYear());</script>
                                {{ @root.__ "All rights reserved | MMT Team"}}
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <script src="/javascripts/pushy.min.js"></script>
        {{#if admin}}
        {{> partials/globalSearchModal}}
        {{> partials/validationModal}}
        {{/if}}
        {{> partials/confirmModal}}
        <script>
            feather.replace();
        </script>

        {{#unless admin}}
        <!-- JS here -->

        <!-- All JS Custom Plugins Link Here here -->
        <script src="/stylesheets/modifiedcss/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        {{!-- <script src="/stylesheets/modifiedcss/assets/js/vendor/jquery-1.12.4.min.js"></script> --}}
        <script src="/stylesheets/modifiedcss/assets/js/popper.min.js"></script>
        {{!-- <script src="/stylesheets/modifiedcss/assets/js/bootstrap.min.js"></script> --}}
        <!-- Jquery Mobile Menu -->
        <script src="/stylesheets/modifiedcss/assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/stylesheets/modifiedcss/assets/js/owl.carousel.min.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/slick.min.js"></script>

        <!-- One Page, Animated-HeadLin -->
        <script src="/stylesheets/modifiedcss/assets/js/wow.min.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/animated.headline.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/jquery.magnific-popup.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="/stylesheets/modifiedcss/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/jquery.nice-select.min.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="/stylesheets/modifiedcss/assets/js/contact.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/jquery.form.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/jquery.validate.min.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/mail-script.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="/stylesheets/modifiedcss/assets/js/plugins.js"></script>
        <script src="/stylesheets/modifiedcss/assets/js/main.js"></script>

        {{/unless}}
    </body>

</html>